{% extends 'blok/layouts.html' %}
{% block title %}
    Продукты
{% endblock %}

{% block content %}
{% for el in product %}
<div  class="card" style="width:10%;background: #4d4d4d;color: #fff;margin: auto">
  <img class="card-img-top" style="width: 75%" src="/media/{{ el.image }}">
  <div style="margin: auto" class="card-body">
    <h5 style="margin: auto; " class="card-title">{{ el.title }}</h5>
    <p  class="card-text">{{ el.text }} {{ el.rate }} </p>
      <a href="{% url 'post' pk=el.pk %}" class="btn btn-primary" style="background: #eb5959;">view detail</a>
  </div>
</div>
{% endfor %}


{% endblock %}